In [1]:
import pandas as pd
import numpy as np

# ..//experiment/pc5/CHHCO/output

# median hypervolume value: 0.644902 in 0th run
# best hypervolume value: 0.678832 in 19th run

# load data
median_id = 0
df = pd.read_csv('../experiment/pc5/CHHCO/output/selected.%s.txt'%(median_id), header=None)
df.columns = ['choice']
iterations = 10000 // 210 # fe divided by population size

data = []
for i in range(0,1680,210):
    row = {'SPEA2':0, 'CMOEAD':0, 'NSGAII':0, 'CMOMBI2':0, 'NSGAIII':0, 'ThetaDEA':0, 'SPEA2SDE':0, 'HypE':0}
    data.insert(0, row)
df = pd.concat([pd.DataFrame(data), df], ignore_index=True, sort=True)

df = df.head(iterations) # |choices| = iterations minus population initialization

dflist = []
dfblist = []
for i in range(0,8):
    dfb = df['choice'] == i
    dfi = dfb.cumsum()
    dflist.append(dfi)
    dfblist.append(dfb)

df = pd.concat(dflist, axis=1, sort=True)
df.columns = ['SPEA2', 'CMOEAD', 'NSGAII', 'CMOMBI2', 'NSGAIII', 'ThetaDEA', 'SPEA2SDE', 'HypE']

dfb = pd.concat(dfblist, axis=1, sort=True)
dfb.columns = ['SPEA2', 'CMOEAD', 'NSGAII', 'CMOMBI2', 'NSGAIII', 'ThetaDEA', 'SPEA2SDE', 'HypE']

dfb[dfb == True] = df
dfb[dfb == 0] = None


dfb

    SPEA2  CMOEAD  NSGAII  CMOMBI2  NSGAIII  ThetaDEA  SPEA2SDE  HypE
0     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
1     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
2     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
3     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
4     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
5     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
6     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
7     NaN     NaN     NaN      NaN      NaN       NaN       NaN   NaN
8     NaN     NaN     NaN      NaN      NaN       NaN       1.0   NaN
9     NaN     NaN     NaN      NaN      NaN       NaN       2.0   NaN
10    1.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
11    NaN     NaN     NaN      1.0      NaN       NaN       NaN   NaN
12    NaN     NaN     NaN      NaN      NaN       NaN       3.0   NaN
13    2.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
14    NaN     NaN     NaN      NaN      NaN       NaN       NaN   1.0
15    NaN     NaN     NaN      NaN      NaN       NaN       4.0   NaN
16    3.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
17    NaN     NaN     NaN      NaN      1.0       NaN       NaN   NaN
18    NaN     NaN     NaN      2.0      NaN       NaN       NaN   NaN
19    4.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
20    NaN     NaN     NaN      NaN      2.0       NaN       NaN   NaN
21    NaN     NaN     1.0      NaN      NaN       NaN       NaN   NaN
22    5.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
23    NaN     NaN     NaN      NaN      3.0       NaN       NaN   NaN
24    NaN     1.0     NaN      NaN      NaN       NaN       NaN   NaN
25    NaN     NaN     NaN      NaN      NaN       1.0       NaN   NaN
26    NaN     NaN     2.0      NaN      NaN       NaN       NaN   NaN
27    NaN     NaN     NaN      NaN      4.0       NaN       NaN   NaN
28    NaN     NaN     NaN      NaN      NaN       NaN       NaN   2.0
29    NaN     NaN     NaN      3.0      NaN       NaN       NaN   NaN
30    NaN     NaN     NaN      NaN      5.0       NaN       NaN   NaN
31    NaN     NaN     NaN      4.0      NaN       NaN       NaN   NaN
32    6.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
33    NaN     2.0     NaN      NaN      NaN       NaN       NaN   NaN
34    7.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
35    NaN     NaN     NaN      NaN      NaN       2.0       NaN   NaN
36    8.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
37    NaN     NaN     NaN      NaN      NaN       NaN       5.0   NaN
38    9.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
39    NaN     NaN     NaN      NaN      6.0       NaN       NaN   NaN
40   10.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
41    NaN     NaN     NaN      NaN      NaN       NaN       6.0   NaN
42   11.0     NaN     NaN      NaN      NaN       NaN       NaN   NaN
43    NaN     NaN     NaN      NaN      NaN       NaN       7.0   NaN
44    NaN     NaN     NaN      NaN      7.0       NaN       NaN   NaN
45    NaN     NaN     NaN      NaN      NaN       NaN       8.0   NaN
46    NaN     NaN     NaN      NaN      8.0       NaN       NaN   NaN

In [2]:
import matplotlib.pyplot as plt

import matplotlib
matplotlib.use
import matplotlib.pyplot as plt
plt.style.use('seaborn-muted')

f = plt.figure(figsize=(8, 6))
ax = f.gca()
ax.spines['top'].set_visible(False)
ax.spines['bottom'].set_visible(False)
ax.spines['right'].set_visible(False)
ax.spines['left'].set_visible(False)

colors={
    "NSGAIII": "tab:blue",
    "SPEA2SDE": "tab:orange",
    "SPEA2": "tab:green",
    "CMOMBI2": "tab:red",
    "ThetaDEA": "tab:purple",
    "CMOEAD": "tab:brown",
    "NSGAII": "tab:pink",
    "HypE": "tab:grey",
}


labels={
    "NSGAIII": "NSGA-III",
    "SPEA2SDE": "SPEA2SDE",
    "SPEA2": "SPEA2",
    "CMOMBI2": "MOMBI2",
    "ThetaDEA": "ThetaDEA",
    "CMOEAD": "MOEA/D",
    "NSGAII": "NSGA-II",
    "HypE": "HypE"
}

offset={
    "NSGAIII": 0.25,
    "SPEA2SDE": -0.25,
    "SPEA2": 0.0,
    "CMOMBI2": 0.0,
    "ThetaDEA": 0.70,
    "CMOEAD": 0.25,
    "NSGAII": -0.25,
    "HypE": -0.70
}
dfmax = df.iloc[[-1]]
df['FE'] = (df.index * 210) # + (8 * 210)
dfb['FE'] = (df.index * 210) # + (8 * 210)

algs=["HypE","NSGAII","CMOEAD","ThetaDEA","CMOMBI2","SPEA2","SPEA2SDE","NSGAIII"]
for alg in algs:
    df.plot(x="FE", y=alg, ax=f.gca(), legend=False, color=colors[alg], style=":")
    plt.text(9870, dfmax[alg]+offset[alg], labels[alg], color=colors[alg], fontsize=14)

for i in [2, 4, 8, 11]:
    plt.text(9550, i+0.15, i, color='k', fontsize=9)

for alg in algs:
    dfb.plot.scatter(x="FE", y=alg, ax=f.gca(), legend=False, color=colors[alg])

plt.xlabel("Fitness Evaluations", fontsize=14)
plt.ylabel("Count of application", fontsize=14)
ax.grid(True, ls='--', which='both')
ax.set_yticks(np.arange(0, 11, step=2))
ax.tick_params(axis='both', which='both', labelsize=14,
           bottom=False, top=False, labelbottom=True,
           left=False, right=False, labelleft=True)

ax.set_xlim(0, 9870)
plt.subplots_adjust(right=0.85)
plt.show()
f.savefig("selected.pdf")

df

    SPEA2  CMOEAD  NSGAII  CMOMBI2  NSGAIII  ThetaDEA  SPEA2SDE  HypE    FE
0       0       0       0        0        0         0         0     0     0
1       0       0       0        0        0         0         0     0   210
2       0       0       0        0        0         0         0     0   420
3       0       0       0        0        0         0         0     0   630
4       0       0       0        0        0         0         0     0   840
5       0       0       0        0        0         0         0     0  1050
6       0       0       0        0        0         0         0     0  1260
7       0       0       0        0        0         0         0     0  1470
8       0       0       0        0        0         0         1     0  1680
9       0       0       0        0        0         0         2     0  1890
10      1       0       0        0        0         0         2     0  2100
11      1       0       0        1        0         0         2     0  2310
12      1       0       0        1        0         0         3     0  2520
13      2       0       0        1        0         0         3     0  2730
14      2       0       0        1        0         0         3     1  2940
15      2       0       0        1        0         0         4     1  3150
16      3       0       0        1        0         0         4     1  3360
17      3       0       0        1        1         0         4     1  3570
18      3       0       0        2        1         0         4     1  3780
19      4       0       0        2        1         0         4     1  3990
20      4       0       0        2        2         0         4     1  4200
21      4       0       1        2        2         0         4     1  4410
22      5       0       1        2        2         0         4     1  4620
23      5       0       1        2        3         0         4     1  4830
24      5       1       1        2        3         0         4     1  5040
25      5       1       1        2        3         1         4     1  5250
26      5       1       2        2        3         1         4     1  5460
27      5       1       2        2        4         1         4     1  5670
28      5       1       2        2        4         1         4     2  5880
29      5       1       2        3        4         1         4     2  6090
30      5       1       2        3        5         1         4     2  6300
31      5       1       2        4        5         1         4     2  6510
32      6       1       2        4        5         1         4     2  6720
33      6       2       2        4        5         1         4     2  6930
34      7       2       2        4        5         1         4     2  7140
35      7       2       2        4        5         2         4     2  7350
36      8       2       2        4        5         2         4     2  7560
37      8       2       2        4        5         2         5     2  7770
38      9       2       2        4        5         2         5     2  7980
39      9       2       2        4        6         2         5     2  8190
40     10       2       2        4        6         2         5     2  8400
41     10       2       2        4        6         2         6     2  8610
42     11       2       2        4        6         2         6     2  8820
43     11       2       2        4        6         2         7     2  9030
44     11       2       2        4        7         2         7     2  9240
45     11       2       2        4        7         2         8     2  9450
46     11       2       2        4        8         2         8     2  9660

In [20]:
dfx = [dfb > 0]
dfx = pd.concat(dfx)
dfx['FE'] = dfb['FE']
dfx = np.array_split(dfx, 3)
dfx[0].cumsum()

    SPEA2 CMOEAD NSGAII CMOMBI2 NSGAIII ThetaDEA SPEA2SDE   HypE     FE
0   False  False  False   False   False    False    False  False      0
1       0      0      0       0       0        0        0      0    210
2       0      0      0       0       0        0        0      0    630
3       0      0      0       0       0        0        0      0   1260
4       0      0      0       0       0        0        0      0   2100
5       0      0      0       0       0        0        0      0   3150
6       0      0      0       0       0        0        0      0   4410
7       0      0      0       0       0        0        0      0   5880
8       0      0      0       0       0        0        1      0   7560
9       0      0      0       0       0        0        2      0   9450
10      1      0      0       0       0        0        2      0  11550
11      1      0      0       1       0        0        2      0  13860
12      1      0      0       1       0        0        3      0  16380
13      2      0      0       1       0        0        3      0  19110
14      2      0      0       1       0        0        3      1  22050
15      2      0      0       1       0        0        4      1  25200