In [1]:
import pandas as pd

df = pd.read_csv('WindTurbineDesignHypervolumeMedianRun.csv')

df

,FE,NSGAII,HypE,CMOEAD,NSGAIII,CMOMBI2,SPEA2,SPEA2SDE,ThetaDEA,CHHCO
0,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
9865,9866,4.583567,3.410987,4.349473,4.905133,4.414811,4.643611,4.584762,4.739163,4.826725
9866,9867,4.583567,3.410988,4.349473,4.905133,4.414811,4.643611,4.584762,4.739163,4.826728
9867,9868,4.583568,3.410988,4.349473,4.905133,4.414812,4.643640,4.584762,4.739181,4.826764
9868,9869,4.583568,3.410988,4.349473,4.905622,4.414812,4.643640,4.584762,4.739181,4.826764
9869,9870,4.583595,3.410988,4.349473,4.905625,4.414812,4.643640,4.584765,4.739181,4.826766